mixin input({ mode = undefined, masked = undefined, button = undefined, small = undefined, type = 'text', placeholder = 'text' })
  -
    let defaultClass = 'form-control__input'
    const formClasses = ['form-control']
    let classes = []
    if(masked !== undefined) 
      classes.push('js-input__masked')
    if(mode !== undefined) {
      mode = mode.map((item)=> `${defaultClass}_${item}`)
      classes = mode
    }
    if(small !== undefined){
      formClasses.push('form-control_size_small')
    }
    classes.unshift('form-control__input')

  if(button!== undefined) 
    div(class=formClasses)
      input(type=type, placeholder=placeholder, class=classes)
      button.form-control__button.icon-arrow_forward
  else 
    .form-control
      input(type=type, placeholder=placeholder, class=classes)
