

mixin checkbox({checked = false, name = 'name', title = undefined, describe = 'describe', text = 'text'})
  .checkbox
    if title 
      label.checkbox__label
        input(type="checkbox" class="checkbox__input" name=name checked=checked)
        .checkbox__marker
        h4.checkbox__title= title
      .checkbox__rich-block
        p.checkbox__describe= describe
    else
     label.checkbox__label
      input(type="checkbox" class="checkbox__input" name=name checked=checked)
      .checkbox__marker
      span.checkbox__text= text